.section-about {
  width: 100%;

  background: #212529;

  object-fit: cover;

  border-bottom: 10px solid #f03e3e;

  padding-top: 5rem;
  padding-bottom: 5rem;

  @media screen and (max-width: 900px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  @media screen and (max-width: 650px) {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }
  @media screen and (max-width: 500px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

h2 {
  text-align: center;
  padding-top: 4rem;
  font-size: 3rem;
}

.descrip-skills {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.descrip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-left: 3rem;
  margin-top: 2rem;

  width: 40%;

  @media screen and (max-width: 1200px) {
    width: 90%;
    margin-left: 2rem;
  }
  @media screen and (max-width: 900px) {
    margin-left: 1.6rem;
  }
  @media screen and (max-width: 650px) {
    margin-left: 1.2rem;
  }
  @media screen and (max-width: 500px) {
    margin-left: 0.8rem;
  }

  .p-container {
    border: 2px solid #f03e3e;
    padding: 2rem;
    border-radius: 15px;

    margin-bottom: 5rem;

    @media screen and (max-width: 650px) {
      margin-bottom: 2rem;
      padding: 1.2rem;
    }

    @media screen and (max-width: 500px) {
      padding: 1rem;
    }
  }
  p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 2;

    @media screen and (max-width: 500px) {
      font-size: 1rem;
    }
  }
}

.img-container {
  height: 14rem;
  background-color: #fff;

  margin-bottom: 5rem;

  img {
    height: 100%;
  }
}

.skills {
  // margin-right: 4rem;
  display: flex;
  flex-direction: column;
}
