.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 2rem;
  background: var(--primary-light2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 100px;
    height: 80x;
    border-radius: 50%;
  }
}

.app__navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
    flex-direction: column;

    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;

    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--primary-dark2);
    }
  }
}
