.hero {
  width: 100%;
  height: 100vh;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.intro {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 2rem;
  font-weight: 400;

  h1 {
    color: #fff;
    line-height: 1.8;
    margin-bottom: 3rem;

    span {
      color: var(--red-color);
    }
  }

  button {
    color: var(--red-color);
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.01);
    padding: 1rem 3rem;

    border: 2px solid;

    transition: all 0.5s;

    &:hover {
      border-color: var(--red-color);
      background-color: var(--red-color);
      color: #fff;
    }

    &:active {
      font-size: 1.4rem;
    }
  }
}
