.section-contact {
  background: #212529;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h3 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;

  @media screen and (max-width: 1200px) {
    font-size: 1.8rem;
  }

  @media screen and (max-width: 900px) {
    font-size: 1.4rem;
  }
}

span {
  color: var(--red-color);
  text-align: center;
  font-size: 3rem;
  font-weight: 600;

  @media screen and (max-width: 1200px) {
    font-size: 2.4rem;
  }
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40rem;

  @media screen and (max-width: 900px) {
    padding: 0 4rem;
  }

  @media screen and (max-width: 650px) {
    width: 36rem;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
    gap: 1rem;
  }

  h4 {
    color: var(--red-color);
    font-size: 1.4rem;

    @media screen and (max-width: 650px) {
      font-size: 1.2rem;
    }
  }

  .icon-container {
    height: 80px;
    width: 80px;
    @media screen and (max-width: 650px) {
      height: 60px;
      width: 60px;
    }

    svg {
      color: #fff;
      height: 100%;
      width: 100%;
    }
  }
}
