.section-contact {
  background: #212529;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h3 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;

  @media screen and (max-width: 1200px) {
    font-size: 1.8rem;
  }
}

span {
  color: var(--red-color);
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40rem;

  h4 {
    color: var(--red-color);
    font-size: 1.4rem;
  }

  .icon-container {
    height: 80px;
    width: 80px;

    svg {
      color: #fff;
      height: 100%;
      width: 100%;
    }
  }
}
