.section-nav {
  //   height: 4rem;
  background: var(--grey-color);

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 1rem 2rem;

  border: 1px solid rgba(255, 255, 255, 0.18);

  @media screen and (max-width: 650px) {
    display: none;
  }
}

.section-nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;

  background: var(--grey-color);

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 1rem 2rem;

  border: 1px solid rgba(255, 255, 255, 0.18);

  @media screen and (max-width: 900px) {
    flex: 1;
  }

  @media screen and (max-width: 650px) {
    display: none;
  }
}

.app__navbar-links {
  display: flex;
  flex-direction: row;
  gap: 3rem;

  list-style: none;

  @media screen and (max-width: 900px) {
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
  }

  a {
    text-decoration: none;

    text-transform: uppercase;
    font-weight: 500;

    color: #fff;

    font-size: 1.3rem;

    @media screen and (max-width: 900px) {
      font-size: 1rem;
    }
  }
}

.app__navbar-menu {
  // width: 35px;
  height: 10px;
  // border-radius: 50%;
  position: relative;

  background-color: var(--red-color);

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 10%;
    height: 10%;
    color: #fff;
    background-color: var(--red-color);
    box-shadow: 0 0 200px rgba(168, 168, 168, 0.15);
    border-radius: 50%;
    position: fixed;

    top: 5%;
    right: 5%;
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;

    width: 80vw;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background-color: #fff;
    background-size: cover;
    background-repeat: repeat;

    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      background-color: #fff;
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;

          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
  }

  @media screen and (min-width: 651px) {
    display: none;
  }
}
