.barkbnb-container {
  display: flex;

  gap: 6rem;

  justify-content: flex-start;

  border: 3px solid var(--red-color);
  border-radius: 15px;

  padding: 2rem;
  //   margin-bottom: 5rem;
  img {
    width: 500px;

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  margin-bottom: 5rem;
}

.info-container {
  flex: 1;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    gap: 3rem;
  }

  h2 {
    color: #fff;
    font-size: 1.8rem;
    text-align: start;
    padding-top: 2rem;
  }

  p {
    color: #fff;
    font-size: 1.2rem;
  }

  button {
    color: var(--red-color);
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.01);
    padding: 1rem 3rem;

    border: 2px solid;

    transition: all 0.5s;

    &:hover {
      border-color: var(--red-color);
      background-color: var(--red-color);
      color: #fff;
    }

    &:active {
      font-size: 1.4rem;
    }
  }
}

.btn-container {
  display: flex;
  gap: 3rem;
}
